<div class="form-login">
    <div class="logo">
        <img src="assets/img/logo.webp" alt="">
    </div>
    <div class="title">
        <h2>Iniciar sesión</h2>
        <span>Inicie sesión para continuar</span>
    </div>
    <form [formGroup]="loginForm">
        <span *ngIf="error" class="float-label">
             <small class="p-error block">{{error}}</small>
        </span>
        <span class="float-label">
            <label for="email">Correo electrónico</label>
            <input id="email" type="text" pInputText formControlName="email"/>
            <small *ngIf="getError('email')" id="username2-help" class="p-error block">Ingrese un correo electrónico valido</small>
        </span>
        <span class="float-label">
            <label for="password">Contraseña</label>
            <input id="password" type="password" pInputText formControlName="password"/>
            <small *ngIf="getError('password')" id="username2-help" class="p-error block">La contraseña debe ser mayor a 6 caracteres</small>
        </span>
        <button pButton type="submit" label="Iniciar sesión" (click)="login()"></button>
    </form>
</div>
